*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background:#f0dbbd;
    color:#450920;
    overflow-x:hidden;
}

.background-blobs{
    position:fixed;
    width:100%;
    height:100%;
    z-index:-1;
    overflow:hidden;
}

.background-blobs span{
    position:absolute;
    border-radius:50%;
    filter:blur(80px);
    opacity:0.4;
    animation:float 15s infinite alternate ease-in-out;
}

.background-blobs span:nth-child(1){
    width:300px;
    height:300px;
    background:#ffa5ab;
    top:10%;
    left:5%;
}

.background-blobs span:nth-child(2){
    width:400px;
    height:400px;
    background:#da627d;
    bottom:15%;
    right:10%;
}

.background-blobs span:nth-child(3){
    width:250px;
    height:250px;
    background:#a53860;
    top:50%;
    left:60%;
}

@keyframes float{
    from{transform:translateY(0);}
    to{transform:translateY(-40px);}
}

.hero{
    padding:4rem 2rem;
    text-align:center;
}

.hero h1{
    font-size:2.3rem;
    margin-bottom:1.5rem;
    color:#a53860;
    animation:fadeUp 1.5s ease forwards;
    opacity:0;
}

@keyframes fadeUp{
    from{opacity:0; transform:translateY(40px);}
    to{opacity:1; transform:translateY(0);}
}

.btn-explorar{
    background:linear-gradient(135deg,#da627d,#a53860);
    color:white;
    border:none;
    padding:1rem 2.5rem;
    border-radius:50px;
    cursor:pointer;
    margin-bottom:3rem;
    transition:0.4s;
    box-shadow:0 10px 30px rgba(165,56,96,0.4);
}

.btn-explorar:hover{
    transform:translateY(-5px);
    box-shadow:0 20px 40px rgba(165,56,96,0.6);
}

.carousel{
    width:100%;
    height:380px;
    perspective:1200px;
    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,#450920,#a53860);
    border-radius:40px;
    padding:2rem;
    margin-top:2rem;
}

.carousel-track{
    position:relative;
    width:400px;
    height:250px;
    transform-style:preserve-3d;
    animation:rotate 22s infinite linear;
}

.carousel-track img{
    position:absolute;
    width:400px;
    height:250px;
    object-fit:cover;
    border-radius:30px;
    transition:0.5s;
    cursor:pointer;
}

.carousel-track img:nth-child(1){transform:rotateY(0deg) translateZ(500px);}
.carousel-track img:nth-child(2){transform:rotateY(60deg) translateZ(500px);}
.carousel-track img:nth-child(3){transform:rotateY(120deg) translateZ(500px);}
.carousel-track img:nth-child(4){transform:rotateY(180deg) translateZ(500px);}
.carousel-track img:nth-child(5){transform:rotateY(240deg) translateZ(500px);}
.carousel-track img:nth-child(6){transform:rotateY(300deg) translateZ(500px);}

@keyframes rotate{
    from{transform:rotateY(0);}
    to{transform:rotateY(360deg);}
}

.carousel-track img:hover{
    scale: 1.08;
    filter: brightness(1.1);
}

.carousel:hover .carousel-track{
    animation-play-state:paused;
}

.narrativa{
    padding:6rem 2rem;
    background:linear-gradient(135deg,#ffa5ab,#da627d);
    color:white;
    text-align:center;
}

.narrativa h2{
    margin-bottom:1rem;
}

.stats{
    display:flex;
    justify-content:center;
    gap:4rem;
    padding:5rem 2rem;
    text-align:center;
}

.stat h2{
    font-size:3rem;
    color:#a53860;
}

.stat p{
    font-weight:bold;
}

footer{
    background:#450920;
    color:#f0dbbd;
    text-align:center;
    padding:3rem 2rem;
    margin-bottom:130px;
}

.navbar{
    position:fixed;
    bottom:25px;
    left:50%;
    transform:translateX(-50%);
    width:85%;
    display:flex;
    justify-content:space-around;
    padding:1rem;
    background: #8f1d3f;
    backdrop-filter: blur(12px);
    border-radius:60px;
}
.navbar a{
    color:#f0dbbd;
    text-decoration:none;
    font-weight:bold;
}

.navbar a:hover {
    color: #b4405d;
}

.reveal{
    opacity:0;
    transform:translateY(40px);
    transition:1s;
}

.reveal.active{
    opacity:1;
    transform:translateY(0);
}

@media(max-width:768px){

    .navbar{
        width: 92%;
        flex-wrap: wrap;
        justify-content: center ;
        gap: 0.8rem;
        padding: 1rem 0.5rem;
    }

    .stats{
        flex-direction:column;
        gap:2rem;
    }

    body{
        overflow-x: hidden; 
    }

    .carousel{
        width:100%;
        height:260px;
        padding:1rem;
        overflow:hidden; 
    }

    .carousel-track{
        width:90vw;
        max-width:300px;  
        height:160px;
    }

    .carousel-track img{
        width:100%;
        height:160px;
        object-fit:cover;
    }

    .carousel-track img:nth-child(1){transform:rotateY(0deg) translateZ(300px);}
    .carousel-track img:nth-child(2){transform:rotateY(60deg) translateZ(300px);}
    .carousel-track img:nth-child(3){transform:rotateY(120deg) translateZ(300px);}
    .carousel-track img:nth-child(4){transform:rotateY(180deg) translateZ(300px);}
    .carousel-track img:nth-child(5){transform:rotateY(240deg) translateZ(300px);}
    .carousel-track img:nth-child(6){transform:rotateY(300deg) translateZ(300px);}
}
