* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding-bottom: 90px;
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding: 60px 0;
}

header {
  background: #fff;
  border-bottom: 3px solid #FCD116; /* Amarillo */
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo span {
  color: #003893; /* Azul */
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #CE1126; /* Rojo */
}

#hero {
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  text-align: center;
  padding: 20px;
}

.slide.active {
  opacity: 1;
}

.slide h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 40px;
}

.card {
  background: #f9f9f9;
  padding: 30px;
  border-radius: 15px;
  transition: 0.3s;
  border-left: 5px solid #003893;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  border-left: 5px solid #CE1126;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}

th {
  background: #003893;
  color: white;
  padding: 15px;
}

td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

button {
  padding: 8px 15px;
  border: none;
  background: #FCD116;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 600;
  transition: 0.3s;
}

button:hover {
  background: #CE1126;
  color: white;
}

footer {
  text-align: center;
  padding: 20px;
  background: #003893;
  color: white;
  margin-top: 50px;
}

.navbar{
    position:fixed;
    bottom:25px;
    left:50%;
    transform:translateX(-50%);
    width:85%;
    display:flex;
    justify-content:space-around;
    padding:1rem;
    background: #FCD116;
    backdrop-filter: blur(12px);
    border-radius:60px;
}

.navbar a{
    color: black;
    text-decoration:none;
    font-weight:bold;
}

@media(min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .slide h1 {
    font-size: 3rem;
  }
}