*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    padding-bottom: 90px;
    background: linear-gradient(135deg, #d4f8e8, #a8e6cf, #81c784);
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

header{
    text-align:center;
    padding:40px 20px 20px 20px;
    color:#1b5e20;
}

header h1{
    font-size:2.5rem;
    margin-bottom:10px;
}

header p{
    font-size:1.1rem;
    max-width:600px;
    margin:auto;
    color:#2e7d32;
}

.contenedor{
    display:flex;
    justify-content:center;
    gap:40px;
    padding:40px 20px;
    flex-wrap:wrap;
}

.card{
    background:#ffffff;
    padding:30px;
    width:350px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h2{
    text-align:center;
    margin-bottom:20px;
    color:#2e7d32;
}

.card input{
    width:100%;
    padding:10px;
    margin-bottom:15px;
    border:1px solid #c8e6c9;
    border-radius:8px;
    outline:none;
    transition:0.3s;
}

.card input:focus{
    border-color:#43a047;
    box-shadow:0 0 5px rgba(67,160,71,0.3);
}

.card button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#2e7d32;
    color:white;
    font-size:1rem;
    cursor:pointer;
    transition:0.3s;
}

.card button:hover{
    background:#1b5e20;
}

footer{
    margin-top:auto;
    background:#1b5e20;
    color:white;
    text-align:center;
    padding:20px;
}

footer p{
    margin:5px 0;
}

.navbar{
    position:fixed;
    bottom:25px;
    left:50%;
    transform:translateX(-50%);
    width:85%;
    display:flex;
    justify-content:space-around;
    padding:1rem;
    background: #2e7d32;
    backdrop-filter: blur(12px);
    border-radius:60px;
}

.navbar a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.navbar a:hover {
    color: #7bd389;
}

@media(max-width:768px){
    .contenedor{
        flex-direction:column;
        align-items:center;
    }
}